
{% extends "base.html"%}
{% block content %}

<br><br>
 
<div class="row mb-2">

    <div class="col-md-6">
      <div class="row no-gutters overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
   
          <h3 class="mb-0">Our Mission</h3>
            <p> landscape .... </p>

        </div>
      </div>
    </div>

    <div class="col-md-6">
        <div class="row no-gutters overflow-hidden flex-md-row mb-4  h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">

            <center>
                <img src="../static/Plots/Logistics/Logistics.png"  
                class="center" width="70%" height="70%" >
                
            </center> 
          </div>
        </div>
      </div> 

</div>

<div class="row mb-2">

    <div class="col-md-6">
      <div class="row no-gutters overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
   
          <h3 class="mb-0">Our Vision</h3>
            <p> landscape .... </p>
            
        </div>
      </div>
    </div>

    <div class="col-md-6">
        <div class="row no-gutters overflow-hidden flex-md-row mb-4  h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">

            <center>
                <img src="../static/Plots/Logistics/Logistics.png"  
                class="center" width="70%" height="70%" >
                
            </center> 
          </div>
        </div>
      </div> 

</div>



<div class="container"></div>
    
<center>
    <h3 class="center">About Us</h3>
        <p> .... </p>
</center>

</div>



{% endblock %}