
{% extends "base.html"%}
{% block content %}

<br>
<h3 align='center'>On this page we collected links to some our dashboards.</h3>
<br>

<ul>
<li> Covid-19 statistics <a href="http://covid-stat.herokuapp.com/"> dashboard </a></li>
<li> Finding anomalies in time series data <a href="http://pdm-anomaly.herokuapp.com/"> dashboard </a></li>
<li> Classification with time series data <a href=""> dashboard (under construction)</a></li>
<li> Document processing <a href="http://doc360.us-east-1.elasticbeanstalk.com">demo</a></li>
</ul>

        
{% endblock %}
