
{% extends "base.html"%}
{% block content %}

<div class="container">
  <header class="blog-header py-3">
        <h1 align="center">E-commerce</h1>
  </header>

  <div class="nav-scroller py-0 mb-8">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="#overview">Overview</a>
      <a class="p-2 text-muted" href="#section1">Solution</a>
      <a class="p-2 text-muted" href="#section2">Features</a>
      <a class="p-2 text-muted" href="#section3">Key benefits</a>

    </nav>
  </div>

  <h3 class="pb-2 mb-8 font-italic border-bottom">
    <!-- From the Firehose -->
  </h3>

</div>

<main role="main" class="container">

  <div class="row">
    <div class="col-md-12 blog-main">

      <div class="blog-post">
        <a name="overview"></a>
        <h3 class="blog-post-title">1. Overview</h3>

        <p>
          The data importance is increasing with every single click on the internet. 
          In order to make sense of this huge data and use it for company’s benefits, 
          a help from different Data Science and Machine Learning techniques is required. 
          For example, to keep customers engaged with the website or to improve customer’s 
          experience, one needs to recommend a customer only goods/services he would potentially 
          be interested in, i.e. develop a recommendation system. 
        </p>

        <p>
          It is also important to know what customers are most valuable. We have to know a customer 
          lifetime value (CLV), i.e. predicted net profit, amount which customer will bring into 
          the company during the entire future relationship with a customer. It is needed to optimize 
          a company growth and business marketing strategies, adjust advertising campaign.
        </p>

        <p>
          One needs to take care about customer retention. Having a solid knowledge and confidence 
          in existing customers, it helps businesses to expand their market. Existing customers 
          bring more new customers, so they are the best source of marketing. There are many ways 
          to achieve customer retention but the most commonly used model is a churn model, which 
          should help identify main factors causing customer churn and then take actions in order 
          to keep existing customers.
        </p>

        <p>
          Living in a digital world where millions of transactions happen with every single click, 
          it is easy to get some fraudulent activity online. So, in order to have a successful 
          e-Commerce business, the companies will need to consider implementing some security 
          related measurements, and accurately predict a fraud probability based on a given type 
          of customer and action.
        </p>

        <p>
          To retain loyal customers and to attract new customers, one needs to know what customers 
          say about the company. It helps reveal weak and strong sides of the business and products, 
          and timely take necessary actions.
        </p>

        <p>
          Goals of our eCom.AI solution:
          <ol>
          <li> Permanent online monitoring of customer activity.</li>
          <li>	Recommendation of goods/services that best match to a given customer.</li>
          <li>	Customer analytics, CLV modeling and churn prediction.</li>
          <li>	Fraud detection.</li>
          <li>  Analysis of customer reviews and their classification.</li>
          <li>	Running chatbots for a customer support.</li>
        </ol>
        </p>


      </div>

      <br>
      <center>
        <img src="../static/Plots/ECom/ecom.png"  
        class="center" width="50%" height="50%" >
        <br><br>
        <h6>Figure 1: Dashboard with statistics of website visits.</h6>
      </center>
      <br>

      <br><br>
      <div class="blog-post">
        <a name="section1"></a>
        <h3 class="blog-post-subtitle">2. Solution</h3>

        <p>
        <b>A.	Online monitoring of customer activity.</b><br>
        It is important to know what kind of customer categories are related with different 
        actions on your website. Free online tools like Google Analytics, Yandex Metrica would 
        help collecting customers data which can be segmented, for example, by geographic location, 
        demographics, device, browsers and type of the user action. It may also help reveal most 
        visiting web pages and even particular places on those web pages. This information can be 
        used to make predictive models for future user actions and also optimize web page content.
      </p>

      <p>
        <b>B. Recommendation engine.</b><br>
        On the basis of collected data about user activities on the website and by finding 
        similarity between their activities with other users we can create a recommender system 
        through dedicated Machine Learning algorithms (like Collaborative Filtering). It learns 
        from user’s past activities and purchases. These recommendations can be more complete and 
        precise if we use information from the user’s profile and items description by applying 
        a content based filtering. The user’s profile can be formed from his data during 
        registration, behavior on site, reviews customer read, every story customer share on 
        social media etc. 
      </p>

      <br>
      <center>
        <img src="../static/Plots/ECom/recom.png"  
        class="center" width="50%" height="50%" >
        <br><br>
        <h6>Figure 2: Recommendation engine.</h6>
      </center>
      <br>

      <p>
        <b>C. Customer analytics, CLV modeling and churn prediction.</b><br>
        Having collected customer data, we can create predictive models that help answering 
        some important business questions like (a) how much a customer can bring to the revenue 
        of a company during his/her lifetime, (b) what most important factors affecting customer 
        retention and churn, (c) how much revenue should be expected for next month/quarter, etc. 
        It is a big data problem which would be solved using modern data processing and Machine 
        Learning techniques. The more such data we have for longer time period, the more accurate 
        will be predictions.  
      </p>

      <br>
      <center>
        <img src="../static/Plots/ECom/churn.png"  
        class="center" width="50%" height="50%" >
        <br><br>
        <h6>Figure 3: Customer churn.</h6>
      </center>
      <br>

      <p>
        <b>D.	Fraud detection.</b><br> 
        Each eCommerce business can suffer from a number of fraudulent activities that lead to 
        a profit loss. With the help of Data Science and Machine Learning Techniques, these 
        fraudsters can be found.  In order to use Data Science techniques, one needs to detect 
        a list of fraud actions (shipping address differs from the billing address, multiple orders 
        of the same item, etc.). In most cases, using data mining, time series analysis, clustering 
        and classification to find associated groups in the data help detect anomalies, and predict 
        them online.
      </p>
      <br>
      <center>
        <img src="../static/Plots/ECom/fraud.png"  
        class="center" width="50%" height="50%" >
        <br><br>
        <h6>Figure 4: Fraud detection.</h6>
      </center>
      <br>

      <p>
        <b>E.	Analysis of customer reviews.</b><br> 
        Customers may provide review on the company website or other online services 
        (Yelp, Google, or social media like Twitter, Facebook). While these reviews are quite 
        valuable, their timely extraction, processing and classification is not that easy task.
        That is where Data Science techniques such as Natural Language Processing (NLP) may 
        significantly help. One can group and classify reviews, run sentiment analysis, and try 
        to find correlations between positive, negative responses and particular goods/services 
        and/or business strategies.
      </p>

      <br>
      <center>
        <img src="../static/Plots/ECom/reviews.png"  
        class="center" width="50%" height="50%" >
        <br><br>
        <h6>Figure 5: Customer reviews.</h6>
      </center>
      <br>

      <p>
        <b>F.	Chatbots.</b><br> 
        Use of virtual conversational AI agents, chatbots, can facilitate communication to customers 
        and help effectively resolve many of their needs online.  One of the most intensive applications 
        of AI bots is as a personal assistant. It is capable of comprehending open conversations while 
        contextualizing them to a particular case or scenario. The crux of conversational AI bots is 
        to solve customer issues by conversing with them in as few interactions as possible, avoid asking 
        for unnecessary information, and try and leverage the existing content.
      </p>

      <br>
      <center>
        <img src="../static/Plots/ECom/chatboats.png"  
        class="center" width="50%" height="50%" >
        <br><br>
        <h6>Figure 6: Customer chatboat engine.</h6>
      </center>
      <br>

      <br><br>
      <div class="blog-post">
        <a name="section2"></a>
        <h3 class="blog-post-subtitle">3. Features</h3>
        
        <b> Automated insight generation.</b>
        <br>
        Using ongoing and historical data, one can perform factor analysis, and find out driving factors and 
        trends to improve performance of eCommerce business. Results can be presented in clear graphical and 
        tabular formats to be used to better plan business strategy towards different customer groups.
        <br><br>
      
        <b>Data storage.</b>
        <br>
        Customer data would be needed to run online and offline analytics.
        We can take care of secure data storage in a cloud-based database.
        <br><br>

        <b>Real-time recommendation system.</b>
        <br>
        The more engaging a website is, the more people will shop there. This will eventually increase 
        the revenue of the eCommerce company. We can train and set up a recommender system that would 
        recommend proper goods for each customer in real time. 
        <br><br>

        <b>Automated training of predictive models.</b>
        <br>
        All models should be trained autonomously on a regular basis. It helps provide accurate 
        recommendations, churn analysis, CLV predictions with minimal human involvement, and be constantly available for business needs.

        <br><br>
        <b>A/B testing.</b>
        <br>
        Often it is hard to say a-priori which version of website or machine learning model is best.
        Sometimes it is needed to experiment with different views of website for different customer groups. 
        Similarly, we can train a few machine learning models and choose best ones using ongoing data.
        <br>


      </div>

      <br><br>
      <div class="blog-post">
        <a name="section3"></a>
        <h3 class="blog-post-subtitle">4. Key benefits.</h3>
        The suggested solution can be helpful for most eCommerce businesses who is struggling with amount of 
        diverse data, and trying to reach their target audiences to increase their sales. 
        We suggest the following:
        <br>
        <ul>
         <li>Automated reports showing key metrics and their relationship with customer data in online regime. Online monitoring of current and expected metrics would reveal main trends, and help define business strategy.</li>
          <li>In-built recommendation system, which allows recommending specific goods and services to different customers individually based on historical data. </li>
          <li>Customer analytics, prediction of customer lifetime value, cost of attracting customers, churn analysis.  It helps businesses in deciding their spends, know about their customers and effectively plan their future.</li>
          <li>Run fraud detection models to predict main factors causing the fraud and timely take actions to prevent them.</li>
          <li>Periodical analysis of customer reviews to determine positive and negative sides and business to quickly tune business tactics and increase number of loyal customers. </li>
          <li>Run AI chatbots that can facilitate communication to customers and help resolve many of their needs online. </li>
        </ul>
        
      </div>


    </div><!-- /.blog-main -->

  </div> <!-- /.row -->

</main><!-- /.container -->

<footer class="blog-footer">
  <!-- <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by 
    <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p> -->
    <a href="#">Back to top</a>
  </p>
</footer>

{% endblock %}
