<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8">
    
    <meta name="description" content="Xen.AI - Custom AI solutions and applications using Artificial Intelligence (AI), Machine Learning, Deep Learning and Data Science technologies.">
    <meta name="keywords" content="Xen.AI, Custom AI solutions, AI applications, Artificial Intelligence, AI, Machine Learning, Deep Learning, Data Science technologies">

    <meta name="author" content="Param Namboodiri">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Xen.ai | Home</title>
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico">
    <link rel="stylesheet" href="/static/assets/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="/static/assets/libs/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/static/assets/libs/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/assets/libs/rslides/responsiveslides.css">
    <link rel="stylesheet" href="/static/assets/libs/slick/slick.css">
    <link rel="stylesheet" href="/static/assets/css/main.css">
    <link rel="stylesheet" href="/static/assets/libs/fa/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600%7CMontserrat:300,400,600,800%7CRaleway:300,400,400i,600%7COpen+Sans:400,400i%7CVarela+Round">

</head>

<body id="index1" class="homepage">

<header>
    <div class="container">
        <div id="topbar">
            <div class="pull-right">
                <div class="navigation">
                    
                    
                    

                    <div class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" id="xen-hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <nav class="collapse navbar-collapse" id="myNavbar">
                        <ul>
                            
                            
                            
                            <li>
                                <a href="/about/">About Us</a>
                            </li>
                            <li>
                                <a href="/solutions/">Solutions</a>
                                <ul class="submenu submenu-list ">
                                    
                                        
                                            <li class="menu-list-new ">Health care &amp; Medical</li>
                                            
                                                <li>
                                                    <a href="/solutions/2/medical360ai/">Medical360.AI</a>
                                                </li>
                                            
                                                <li>
                                                    <a href="/solutions/1/patient360ai/">Patient360.AI</a>
                                                </li>
                                            
                                        
                                            <li class="menu-list-new ">Document Management</li>
                                            
                                                <li>
                                                    <a href="/solutions/3/document360ai/">Document360.AI</a>
                                                </li>
                                            
                                        
                                            <li class="menu-list-new ">Data Analytics</li>
                                            
                                                <li>
                                                    <a href="/solutions/17/supplychain360ai/">SupplyChain360.AI</a>
                                                </li>
                                            
                                                <li>
                                                    <a href="/solutions/15/pdm360ai/">PdM360.AI</a>
                                                </li>
                                            
                                        
                                            <li class="menu-list-new ">Infrastructure &amp; Industrial</li>
                                            
                                                <li>
                                                    <a href="/solutions/9/utility360ai/">Utility360.AI</a>
                                                </li>
                                            
                                                <li>
                                                    <a href="/solutions/16/anpr360ai/">Anpr360.AI</a>
                                                </li>
                                            
                                                <li>
                                                    <a href="/solutions/13/iot360ai/">IoT360.AI</a>
                                                </li>
                                            
                                        
                                            <li class="menu-list-new ">Finance, Banking &amp; Insurance</li>
                                            
                                                <li>
                                                    <a href="/solutions/10/finance360ai/">Finance360.AI</a>
                                                </li>
                                            
                                                <li>
                                                    <a href="/solutions/11/insurance360ai/">Insurance360.AI</a>
                                                </li>
                                            
                                        
                                            <li class="menu-list-new ">Text Processing &amp; NLP</li>
                                            
                                                <li>
                                                    <a href="/solutions/12/chatbot360ai/">Chatbot360.AI</a>
                                                </li>
                                            
                                                <li>
                                                    <a href="/solutions/8/text360ai/">Text360.AI</a>
                                                </li>
                                            
                                        
                                            <li class="menu-list-new ">Image Processing</li>
                                            
                                                <li>
                                                    <a href="/solutions/7/image360ai/">Image360.AI</a>
                                                </li>
                                            
                                        
                                            <li class="menu-list-new ">Video Processing</li>
                                            
                                                <li>
                                                    <a href="/solutions/5/video360ai/">Video360.AI</a>
                                                </li>
                                            
                                        
                                            <li class="menu-list-new ">Audio Processing</li>
                                            
                                                <li>
                                                    <a href="/solutions/6/audio360ai/">Audio360.AI</a>
                                                </li>
                                            
                                        
                                    
                                </ul>
                            </li>
                            <li>
                                <a href="/services/">Services</a>
                                <ul class="submenu submenu-list ">
                                    
                                        
                                            <li class="menu-list-new ">Consulting Services</li>
                                            
                                                <li>
                                                    <a href="/services/1/ai-machine-learning-and-data-science-consultants">AI, Machine Learning and Data Science Consultants</a>
                                                </li>
                                            
                                        
                                    
                                </ul>
                            </li>

                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <li>
                                <a href="/why-us/">Why Us</a>
                            </li>
                            <li>
                                <a href="/programs/">Training</a>
                            </li>
                            
                            
                            
                            <li>
                                <a href="/events/all/">Events</a>
                                <ul class="submenu submenu-list">
                                    <li><a href="/events/past/">Past events</a></li>
                                    <li><a href="/events/future/">Current and future events</a></li>
                                </ul>
                                <ul class="expanded-submenu">
                                    <li><a href="/events/past/">Past events</a></li>
                                    <li><a href="/events/future/">Current and future events</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/blog/">Blog</a>
                            </li>
                            <li><a href="/contact/">Contact Us</a></li>
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                        </ul>
                    </nav>
                </div>
                
                
                
                
                
                
                
            </div>
            <a style="color: white!important;" href="/"><img class="logo"
                                                                             src="/static/assets/images/xen.ai_logo.png"/></a>
        </div>
        

    <div class="row hero-section-row hero-section-row-new">
        <div class="col-md-8 col-md-offset-2 text-center">
            
            <h2 class="third-title">Innovative Artificial Intelligence Solutions</h2>

            <p class="third-title"></p>
            <a href="/solutions/"
               class="bluebutton">LEARN MORE</a>
        </div>
    </div>

    </div>
    
    <div class="particle-bg-display" id="particles-js"></div>

</header>

    <main>
        
            <div class="container courses-browse popular no-gutters homepage-course-list ">
                <div class="row first">
                    <div class="col-sm-12 text-center">
                        <h3>Innovative Artificial Intelligence Solutions</h3>
                        <div class="abs">
                            <p style="margin-top: 20px;">Xen.AI's primary goal is to research and develop innovative solutions and applications using Artificial Intelligence (AI), Machine Learning (ML),  Deep Learning, Data Science and other latest Open Source technologies to improve the efficiency in multiple verticals. Here are some of the R&D, client projects and solutions that we are working on:</p>
                        </div>
                    </div>
                </div>

                <div class="container courses-browse popular no-gutters">
                    
                        

<div class="row tutorial" onclick="document.location='/solutions/2/medical360ai/'">
    <div class="col-md-4" style="padding: 0;">
        <a href="/solutions/2/medical360ai/" style="text-decoration: none;">
            
                
                    <img src="/media/cache/cc/a7/cca7e6869ea454517dda9259e6674d9b.jpg"
                         class="resp-img" alt="Event">
                
            
        </a>
    </div>
    <div class="col-md-8">
        <div class="row tutorial-details">

            <div class="col-md-12 " style="min-height: 150px;">
                <h6>Medical360.AI</h6>
                <p class="abs">
                    Xen Medical360.AI is an Artificial Intelligence (AI), Machine Learning (ML) and Deep Learning based solution for utilizing artificial intelligence technologies in all aspects of medical care.
                </p>
                
                
                
                <div class="col-xs-6 col-xs-offset-6 col-sm-4 col-sm-offset-8 learn-more-margin">
                    <a href="/solutions/2/medical360ai/"
                       class="greybutton">LEARN MORE</a>
                </div>

            </div>

        </div>
    </div>
</div>

                    
                        

<div class="row tutorial" onclick="document.location='/solutions/1/patient360ai/'">
    <div class="col-md-4" style="padding: 0;">
        <a href="/solutions/1/patient360ai/" style="text-decoration: none;">
            
                
                    <img src="/media/cache/ab/a4/aba40522750781d0893e7b255de8c3c3.jpg"
                         class="resp-img" alt="Event">
                
            
        </a>
    </div>
    <div class="col-md-8">
        <div class="row tutorial-details">

            <div class="col-md-12 " style="min-height: 150px;">
                <h6>Patient360.AI</h6>
                <p class="abs">
                    Xen Patient360.AI is an Artificial Intelligence (AI), Machine Learning (ML) and Deep Learning based solution for a patient-centric integration, reporting and analytics of electronic health record datasets with a goal ...
                </p>
                
                
                
                
                
                

                <div class="col-xs-6 col-xs-offset-6 col-sm-4 col-sm-offset-8 learn-more-margin">
                    <a href="/solutions/1/patient360ai/"
                       class="greybutton">LEARN MORE</a>
                </div>

            </div>

        </div>
    </div>
</div>

                    
                        

<div class="row tutorial" onclick="document.location='/solutions/3/document360ai/'">
    <div class="col-md-4" style="padding: 0;">
        <a href="/solutions/3/document360ai/" style="text-decoration: none;">
            
                
                    <img src="/media/cache/a0/33/a0338f8dfb889e104a7e4d78c61fa045.jpg"
                         class="resp-img" alt="Event">
                
            
        </a>
    </div>
    <div class="col-md-8">
        <div class="row tutorial-details">

            <div class="col-md-12 " style="min-height: 150px;">
                <h6>Document360.AI</h6>
                <p class="abs">
                    Xen Document360.AI is an Artificial Intelligence (AI), Machine Learning (ML) and Deep Learning based Document Management System (DMS) for text processing and text extraction from images and documents.
                </p>
                
                
                
                
                
                

                <div class="col-xs-6 col-xs-offset-6 col-sm-4 col-sm-offset-8 learn-more-margin">
                    <a href="/solutions/3/document360ai/"
                       class="greybutton">LEARN MORE</a>
                </div>

            </div>

        </div>
    </div>
</div>

                    
                        

<div class="row tutorial" onclick="document.location='/solutions/9/utility360ai/'">
    <div class="col-md-4" style="padding: 0;">
        <a href="/solutions/9/utility360ai/" style="text-decoration: none;">
            
                
                    <img src="/media/cache/1c/2a/1c2ae0ae620a65806a85c14bc0d13372.png"
                         class="resp-img" alt="Event">
                
            
        </a>
    </div>
    <div class="col-md-8">
        <div class="row tutorial-details">

            <div class="col-md-12 " style="min-height: 150px;">
                <h6>Utility360.AI</h6>
                <p class="abs">
                    Xen Utility360.AI is an Artificial Intelligence (AI), Machine Learning (ML) and Deep Learning based solution for Utility companies.
                </p>
                
                
                
                
                
                

                <div class="col-xs-6 col-xs-offset-6 col-sm-4 col-sm-offset-8 learn-more-margin">
                    <a href="/solutions/9/utility360ai/"
                       class="greybutton">LEARN MORE</a>
                </div>

            </div>

        </div>
    </div>
</div>

                    
                        

<div class="row tutorial" onclick="document.location='/solutions/17/supplychain360ai/'">
    <div class="col-md-4" style="padding: 0;">
        <a href="/solutions/17/supplychain360ai/" style="text-decoration: none;">
            
                
                    <img src="/media/cache/0f/59/0f598da07061ead8ee005e5c9a45442c.png"
                         class="resp-img" alt="Event">
                
            
        </a>
    </div>
    <div class="col-md-8">
        <div class="row tutorial-details">

            <div class="col-md-12 " style="min-height: 150px;">
                <h6>SupplyChain360.AI</h6>
                <p class="abs">
                    Xen SupplyChain360.AI - an Artificial Intelligence (AI), Machine Learning (ML) and Deep Learning based solution for supply chain management and price optimization.
                </p>
                
                
                
                
                
                

                <div class="col-xs-6 col-xs-offset-6 col-sm-4 col-sm-offset-8 learn-more-margin">
                    <a href="/solutions/17/supplychain360ai/"
                       class="greybutton">LEARN MORE</a>
                </div>

            </div>

        </div>
    </div>
</div>

                    
                        

<div class="row tutorial" onclick="document.location='/solutions/11/insurance360ai/'">
    <div class="col-md-4" style="padding: 0;">
        <a href="/solutions/11/insurance360ai/" style="text-decoration: none;">
            
                
                    <img src="/media/cache/cb/99/cb99fb530a709497bbe4f4ca9ae4560c.jpg"
                         class="resp-img" alt="Event">
                
            
        </a>
    </div>
    <div class="col-md-8">
        <div class="row tutorial-details">

            <div class="col-md-12 " style="min-height: 150px;">
                <h6>Insurance360.AI</h6>
                <p class="abs">
                    Xen Insurance360.AI is an Artificial Intelligence (AI), Machine Learning (ML) and Deep Learning based solution for insurance services.
                </p>
                
                
                
                
                
                

                <div class="col-xs-6 col-xs-offset-6 col-sm-4 col-sm-offset-8 learn-more-margin">
                    <a href="/solutions/11/insurance360ai/"
                       class="greybutton">LEARN MORE</a>
                </div>

            </div>

        </div>
    </div>
</div>

                    
                        

<div class="row tutorial" onclick="document.location='/solutions/12/chatbot360ai/'">
    <div class="col-md-4" style="padding: 0;">
        <a href="/solutions/12/chatbot360ai/" style="text-decoration: none;">
            
                
                    <img src="/media/cache/4a/c5/4ac518aee98ed1540b6d74a1bbbe8ef2.jpg"
                         class="resp-img" alt="Event">
                
            
        </a>
    </div>
    <div class="col-md-8">
        <div class="row tutorial-details">

            <div class="col-md-12 " style="min-height: 150px;">
                <h6>Chatbot360.AI</h6>
                <p class="abs">
                    Xen Chatbot360.AI is an Artificial Intelligence (AI), Machine Learning (ML) and Deep Learning based solution for Chatbots, Conversational AI and Natural Language Processing (NLP) based applications.
                </p>
                
                
                
                
                
                

                <div class="col-xs-6 col-xs-offset-6 col-sm-4 col-sm-offset-8 learn-more-margin">
                    <a href="/solutions/12/chatbot360ai/"
                       class="greybutton">LEARN MORE</a>
                </div>

            </div>

        </div>
    </div>
</div>

                    
                        

<div class="row tutorial" onclick="document.location='/solutions/15/pdm360ai/'">
    <div class="col-md-4" style="padding: 0;">
        <a href="/solutions/15/pdm360ai/" style="text-decoration: none;">
            
                
                    <img src="/media/cache/79/9f/799f016d674cda1221f29fe0359d645b.jpg"
                         class="resp-img" alt="Event">
                
            
        </a>
    </div>
    <div class="col-md-8">
        <div class="row tutorial-details">

            <div class="col-md-12 " style="min-height: 150px;">
                <h6>PdM360.AI</h6>
                <p class="abs">
                    Xen PdM360.AI is an Artificial Intelligence (AI), Machine Learning (ML) and Deep Learning based solution for Predictive Maintenance, Predictive failure detection and Anomaly detection.
                </p>
                
                
                
                
                
                

                <div class="col-xs-6 col-xs-offset-6 col-sm-4 col-sm-offset-8 learn-more-margin">
                    <a href="/solutions/15/pdm360ai/"
                       class="greybutton">LEARN MORE</a>
                </div>

            </div>

        </div>
    </div>
</div>

                    
                        

<div class="row tutorial" onclick="document.location='/solutions/16/anpr360ai/'">
    <div class="col-md-4" style="padding: 0;">
        <a href="/solutions/16/anpr360ai/" style="text-decoration: none;">
            
                
                    <img src="/media/cache/e0/06/e0069be6069dbfeb2ec18c03ae156a87.jpg"
                         class="resp-img" alt="Event">
                
            
        </a>
    </div>
    <div class="col-md-8">
        <div class="row tutorial-details">

            <div class="col-md-12 " style="min-height: 150px;">
                <h6>Anpr360.AI</h6>
                <p class="abs">
                    Xen ANPR360.AI is an Artificial Intelligence (AI), Machine Learning (ML) and Deep Learning based solution for Automatic Number / License Plate Recognition (ANPR / ALPR)
                </p>
                
                
                
                
                
                

                <div class="col-xs-6 col-xs-offset-6 col-sm-4 col-sm-offset-8 learn-more-margin">
                    <a href="/solutions/16/anpr360ai/"
                       class="greybutton">LEARN MORE</a>
                </div>

            </div>

        </div>
    </div>
</div>

                    
                        

<div class="row tutorial" onclick="document.location='/solutions/8/text360ai/'">
    <div class="col-md-4" style="padding: 0;">
        <a href="/solutions/8/text360ai/" style="text-decoration: none;">
            
                
                    <img src="/media/cache/b0/e1/b0e13414c71f0609c9d641a392680303.jpg"
                         class="resp-img" alt="Event">
                
            
        </a>
    </div>
    <div class="col-md-8">
        <div class="row tutorial-details">

            <div class="col-md-12 " style="min-height: 150px;">
                <h6>Text360.AI</h6>
                <p class="abs">
                    Xen Text360.AI is an Artificial Intelligence (AI), Machine Learning (ML) and Deep Learning based solution for Text data processing and related applications.
                </p>
                
                
                
                
                
                

                <div class="col-xs-6 col-xs-offset-6 col-sm-4 col-sm-offset-8 learn-more-margin">
                    <a href="/solutions/8/text360ai/"
                       class="greybutton">LEARN MORE</a>
                </div>

            </div>

        </div>
    </div>
</div>

                    
                        

<div class="row tutorial" onclick="document.location='/solutions/7/image360ai/'">
    <div class="col-md-4" style="padding: 0;">
        <a href="/solutions/7/image360ai/" style="text-decoration: none;">
            
                
                    <img src="/media/cache/aa/b9/aab942d73469148f999a26db97de15e3.jpg"
                         class="resp-img" alt="Event">
                
            
        </a>
    </div>
    <div class="col-md-8">
        <div class="row tutorial-details">

            <div class="col-md-12 " style="min-height: 150px;">
                <h6>Image360.AI</h6>
                <p class="abs">
                    Xen Image360.AI is an Artificial Intelligence (AI), Machine Learning (ML) and Deep Learning based solution for Image data processing and related applications.
                </p>
                
                
                
                
                
                

                <div class="col-xs-6 col-xs-offset-6 col-sm-4 col-sm-offset-8 learn-more-margin">
                    <a href="/solutions/7/image360ai/"
                       class="greybutton">LEARN MORE</a>
                </div>

            </div>

        </div>
    </div>
</div>

                    
                        

<div class="row tutorial" onclick="document.location='/solutions/6/audio360ai/'">
    <div class="col-md-4" style="padding: 0;">
        <a href="/solutions/6/audio360ai/" style="text-decoration: none;">
            
                
                    <img src="/media/cache/d6/20/d6203fa8332f944527a599efe7595800.png"
                         class="resp-img" alt="Event">
                
            
        </a>
    </div>
    <div class="col-md-8">
        <div class="row tutorial-details">

            <div class="col-md-12 " style="min-height: 150px;">
                <h6>Audio360.AI</h6>
                <p class="abs">
                    Xen Audio360.AI is an Artificial Intelligence (AI), Machine Learning (ML) and Deep Learning based solution for Audio data processing and related applications.
                </p>
                
                
                
                
                
                

                <div class="col-xs-6 col-xs-offset-6 col-sm-4 col-sm-offset-8 learn-more-margin">
                    <a href="/solutions/6/audio360ai/"
                       class="greybutton">LEARN MORE</a>
                </div>

            </div>

        </div>
    </div>
</div>

                    
                        

<div class="row tutorial" onclick="document.location='/solutions/5/video360ai/'">
    <div class="col-md-4" style="padding: 0;">
        <a href="/solutions/5/video360ai/" style="text-decoration: none;">
            
                
                    <img src="/media/cache/46/d3/46d3227d78b43d18904d4194e0d8db26.jpg"
                         class="resp-img" alt="Event">
                
            
        </a>
    </div>
    <div class="col-md-8">
        <div class="row tutorial-details">

            <div class="col-md-12 " style="min-height: 150px;">
                <h6>Video360.AI</h6>
                <p class="abs">
                    Xen Video360.AI is an Artificial Intelligence (AI), Machine Learning (ML) and Deep Learning based solution for Video data processing and related applications.
                </p>
                
                
                
                
                
                

                <div class="col-xs-6 col-xs-offset-6 col-sm-4 col-sm-offset-8 learn-more-margin">
                    <a href="/solutions/5/video360ai/"
                       class="greybutton">LEARN MORE</a>
                </div>

            </div>

        </div>
    </div>
</div>

                    
                    
                        

<div class="row tutorial" onclick="document.location='/projects/6/AI\u002DMachine\u002DLearning\u002DSolutions\u002Dfor\u002DLife\u002DSciences'">
    <div class="col-md-4" style="padding: 0;">
        <a href="/projects/6/AI-Machine-Learning-Solutions-for-Life-Sciences" style="text-decoration: none;">
            
                
                    <img src="/media/cache/17/15/1715da89fc74d98eb139d1917f9ad743.jpg"
                         class="resp-img" alt="Event">
                
            
        </a>
    </div>
    <div class="col-md-8">
        <div class="row tutorial-details">

            <div class="col-md-12 " style="min-height: 150px;">
                <h6>AI Solutions for Life Sciences</h6>
                <p class="abs">
                    Xen.AI can help the Life Sciences companies to apply artificial intelligence, machine learning, deep learning and data science technologies in many areas to improve the efficiency and reduce the operating ...
                </p>
                
                
                
                
                
                

                <div class="col-xs-6 col-xs-offset-6 col-sm-4 col-sm-offset-8 learn-more-margin">
                    <a href="/projects/6/AI-Machine-Learning-Solutions-for-Life-Sciences"
                       class="greybutton">LEARN MORE</a>
                </div>

            </div>

        </div>
    </div>
</div>

                    
                </div>
            </div>
        

        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        


        <div class="container courses-browse popular no-gutters homepage-course-list ">
            
            
            
            
            
            
            
            

            
                
                
                
                

                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                </div>
                <div class="container testimonials">
                    <div class="row">
                        
                        
                        
                        
                        
                        
                    </div>
                    
                </div>

                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                <div class="ready">
                    <div class="container">
                        <div class="row row-style">

                            <p></p>
                            <h4>We can help build innovative solutions and applications using Artificial Intelligence technologies.</h4>
                            <div class="button-new button-style">
                                <a href="/contact/#contactform"
                                   class="whitebutton whitebutton-new whitebutton-style">Contact us now</a>
                            </div>

                        </div>
                    </div>
                </div>
                </main>
            

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h1 class="logo"><a style="color: white;" href="/">Xen.ai</a></h1>
                <ul class="contactinfo">
                    
                        
                            <li class="address"><strong></strong>
                                501 Gibson Dr, #2624, Roseville, California – 95678, USA.
                            </li>
                        
                        
                            <li class="phone"><strong>Phone:</strong> +1 408 221 6976</li>
                        

                        
                        <br/>
                    
                        
                            <li class="address"><strong></strong>
                                ES 11, Heavenly Plaza, Padamugal,  Kochi – 682021, Kerala, India.
                            </li>
                        
                        

                        
                        <br/>
                    
                        
                        

                        
                            <li class="email"><strong>E-mail:</strong> support@xen.ai</li>
                        
                        <br/>
                    
                </ul>
                
                
                
                
                
                
                
                
            </div>
            
            
            
            
            
            
            
            
            
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h6>INFORMATION</h6>
                <ul class="information">
                    <li><a href="/about/">About Us</a></li>
                    
                    <li><a href="/blog/">Blog</a></li>
                    
                    <li><a href="/programs/">Training</a></li>
                    <li><a href="/why-us/">Why Us</a></li>
                    <li><a href="/solutions/">Solutions</a></li>
                    <li><a href="/services/">Services</a></li>
                    
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 icon-padding">
                <ul class="information">
                    
                    
                    
                    
                    
                    <li><a href="/contact/">Contact Us</a></li>
                </ul>
                <ul class="social social-margin">
                    
                        <li>
                            <a class="social-link-style" href="https://www.facebook.com/xen.ai.us/"
                               target="_blank"><i class="fa fa-fab fa-facebook-square social-icon-style" aria-hidden="true"></i></a>
                        </li>
                    
                        <li>
                            <a class="social-link-style" href="https://www.linkedin.com/company/xenai/"
                               target="_blank"><i class="fa fa-linkedin social-icon-style" aria-hidden="true"></i></a>
                        </li>
                    
                        <li>
                            <a class="social-link-style" href="https://t.me/xenai00"
                               target="_blank"><i class="fa fa-telegram social-icon-style" aria-hidden="true"></i></a>
                        </li>
                    
                        <li>
                            <a class="social-link-style" href="https://www.youtube.com/channel/UCfX7YFsAHLBaWSVQIREP1lg/featured"
                               target="_blank"><i class="fa fa-youtube social-icon-style" aria-hidden="true"></i></a>
                        </li>
                    
                </ul>
            </div>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
        </div>
        <div class="row botbar">
            <div class="col-sm-7">
                <p class="copyright">Copyright 2020 &copy; Xen.ai - All Rights Reserved</p>
            </div>
            <div class="col-sm-5">
            </div>
        </div>
    </div>
</footer>
<script src="/static/assets/libs/jquery/jquery.js"></script>
<script src="/static/assets/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/libs/rslides/responsiveslides.min.js"></script>
<script src="/static/assets/libs/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/assets/libs/slick/slick.min.js"></script>
<script src="/static/assets/js/main.js"></script>


    <script src="/static/assets/js/particles.js"></script>
    <script src="/static/assets/js/app.js"></script>


</body>
</html>
