<!DOCTYPE html>
<html>
    <head>
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <title>Dmitry Bandurin</title>
        
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    
        ym(54079399, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/54079399" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142397695-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-142397695-1');
    </script>

    <script>
    ga('send', 'pageview', {
      'Branch':  '{{ getenv "BRANCH" }}'
    });
   </script>

    <!-- /Global site tag (gtag.js) - Google Analytics -->

    <meta name="google-site-verification" contect="7IBww7RizBd3eCUPtUtgbqUQUGm6nhmUIyB4oKIIxSI" />

    </head>
    <body>
        <div>
       	  <h1>Dmitry Bandurin</h1>
          <p><small>
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                  <path d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" fill="currentColor" fill-rule="evenodd"></path>
              </svg>
              Chicago, IL
          </small></p>

          <div class="content">
              <p>I'm a data scientist, a particle physicist, a tea drinker, and a cat lover. Among other things, 
              	 I'm very passionate about Artificial Intelligence, NLP, Reinforcement Learning, new physics discoveries,
              	 as well as hiking, biking, kayaking,
              	 work-life balance, self-improvement, and continuous learning.</p>
              <p>Here is a link to my <a href="https://www.linkedin.com/in/dmitry-bandurin-27698969/">LinkedIn</a> page. </p>
          </div>

          The weather in Illinois sucks. Wisconsin is the best!

      </div>
    </body>
</html>