{% extends "base.html"%}
{% block content %}

<div class="container">
  <header class="blog-header py-3">
        <h1 align="center">Some our Projects</h1>
  </header>

  <div class="nav-scroller py-0 mb-8">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="#PR">Predictive repairs in Automotive</a>
      <a class="p-2 text-muted" href="#InvOpt">Inventory optimization</a>
      <a class="p-2 text-muted" href="#Sat">Optimization of Sattelite constellations</a>
      <a class="p-2 text-muted" href="#ML_pipe">Building end-to-end ML pipelines</a>
    </nav>
  </div>

  <h3 class="pb-2 mb-8 font-italic border-bottom">
    <!-- From the Firehose -->
  </h3>

</div>

<main role="main" class="container">

  <div class="row">
    <div class="col-md-12 blog-main">

      <div class="blog-post">
        <a name="PR"></a>
        <h3 class="blog-post-title">Predictive repairs in Automotive</h3>

        <p>
          The Industrial Internet of Things or IIoT mainly refers to an industrial framework where a large number of machines 
          or devices are connected and synchronized through software tools.
          The devices of industrial IOT range from complex industrial robots to tiny environmental sensors.
        </p>

        <p>
          For a large scale, IIoT is an element of Industry 4.0 and it requires low maintenance along with the low cost to operate 
          in real-time in challenging environments.
          Generally, companies use industrial IOT projects for internal cost-saving. The commonly used applications of 
          IIoT are smart factory, smart metering, smart grid, and many more.
        </p>

        <p>
          <center>
            <img src="../static/Plots/IIOT/iiot1.jpg"  
            class="center" width="99%" height="99%" >
            <br><br>
            <h6> Figure 1. IIoT applications.</h6>
          </center>
        </p>                                        

      </div>

      <div class="blog-post">
        <a name="InvOpt"></a>
        <h3 class="blog-post-title">Inventory optimization</h3>

        <p>
          The heart of Industry 4.0 is the Internet of Things (IoT).

          IoT refers to a network of physical devices that are digitally interconnected, facilitating the communication and 
          exchange of data through the Internet. 
          These smart devices could be anything from smartphones and household appliances to cars and even buildings.
        </p>

        <p>
          Industrial IoT is a subset of the Internet of Things, where various sensors, Radio Frequency Identification (RFID) tags, 
          software and electronics 
          are integrated with industrial machines and systems to collect real-time data about their condition and performance.
        </p>
     
        <p>
          IIoT has many use cases, with asset management and tracking being one of the major applications of the technology today.
          For example, IIoT can be used is to prevent the overstocking or understocking of inventory.
        </p>

        <p>
          One way to achieve this is to use shelf-fitted sensors and weighing devices to broadcast inventory information to your warehouse management system. Putting such a system in place allows warehouse 
          managers to monitor inventory levels, thereby gaining real-time visibility and control over the inventory.
        </p>

        <p>
          IIoT can significantly improve operations, increase efficiency, reduce costs and provide 
          valuable real-time visibility across the supply chain.
        </p>

        <p>
          <center>
            <img src="../static/Plots/IIOT/iiot2.jpg"  
            class="center" width="79%" height="79%" >
            <br><br>
            <h6> Figure 2. Internet-based “smart” factories at Siemens.</h6>
          </center>
        </p>   

        <div class="blog-post">
          <a name="Sat"></a>
          <h3 class="blog-post-title">Optimization of sattelite constellations</h3>
  
          <p>
            Industry 4.0 is signalling a change in the traditional manufacturing landscape. 
            Also known as the Fourth Industrial Revolution, Industry 4.0 encompasses three technological trends driving 
            this transformation: connectivity, intelligence and flexible automation.
          </p>
          
  
          <p>
            Emergence of digital solutions and advanced technologies are often associated with Industry 4.0.
            Its main components include: <br>
            <li>Industrial Internet of Things </li>
            <li>Big Data </li>
            <li>
              Cloud computing
            </li>
            <li>
              Additive manufacturing (AM)
            </li>
            <li>
              Advanced robotics
            </li>
            <li>
              Augmented and virtual reality (AR/VR)
            </li>
            
          </p>
  
        </div>

        <div class="blog-post">
          <a name="ML_pipe"></a>
          <h3 class="blog-post-title">Building end-to-end ML pipelines</h3>
  
          <p>
            The Industrial Internet of Things or IIoT mainly refers to an industrial framework where a large number of machines 
            or devices are connected and synchronized through software tools.
            The devices of industrial IOT range from complex industrial robots to tiny environmental sensors.
          </p>
  
          <p>
            For a large scale, IIoT is an element of Industry 4.0 and it requires low maintenance along with the low cost to operate 
            in real-time in challenging environments.
            Generally, companies use industrial IOT projects for internal cost-saving. The commonly used applications of 
            IIoT are smart factory, smart metering, smart grid, and many more.
          </p>
  
          <p>
            <center>
              <img src="../static/Plots/IIOT/iiot1.jpg"  
              class="center" width="99%" height="99%" >
              <br><br>
              <h6> Figure 1. IIoT applications.</h6>
            </center>
          </p>                                        
  
        </div>

    </div><!-- /.blog-main -->


  </div> <!-- /.row -->

</main><!-- /.container -->

<footer class="blog-footer">
  <!-- <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by 
    <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p> -->
    <a href="#">Back to top</a>
  </p>
</footer>

{% endblock %}
