{% extends "base.html"%}
{% block content %}

<div class="container">
  <header class="blog-header py-3">
        <h1 align="center">Some our Projects</h1>
  </header>

  <div class="nav-scroller py-0 mb-8">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="#PR">Predictive repairs in Automotive</a>
      <a class="p-2 text-muted" href="#InvOpt">Inventory optimization</a>
      <a class="p-2 text-muted" href="#Sat">Optimization of Sattelite constellations</a>
      <a class="p-2 text-muted" href="#ML_pipe">Building end-to-end ML pipelines</a>
    </nav>
  </div>

  <h3 class="pb-2 mb-8 font-italic border-bottom">
    <!-- From the Firehose -->
  </h3>

</div>

<main role="main" class="container">

  <div class="row">
    <div class="col-md-12 blog-main">

      <div class="blog-post">
        <a name="PR"></a>
        <h3 class="blog-post-title">Predictive repairs in Automotive</h3>

        <p>
          Our delivered projects in Autimotive include condition monitoring of moving truck with sensors 
          installed on engine, transmission, brakes, tires, etc., that measure such quantities as temperature, 
          pressure, speed, torque, acceleration, GPS location and predict when some parts may start failing. 
          The delivered models / techniques included
  
          <ul>
            <li>
              Anomaly detection using Machine Learning  algorithms with live daily monitoring
            </li>
            <li>
              Reliability  and multivariate survival analysis
            </li>
            <li>
              Factor analysis
            </li>
          </ul>
        </p>                                      

      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <center>
            <figure>
              <img src="../static/Plots/Projects/Automotive1.png" alt="Figure 1" width="100%" height="100%">
              <br><br>
              <figcaption> Dashboard showing detected anomalies in truck exhaust system by days.</figcaption>
            </figure>
          </center>
          </div>
          <div class="col-md-6">
            <center>
            <figure>
              <img src="../static/Plots/Projects/Automotive2.png" alt="Figure 2" width="100%" height="100%" >
              <br>
              <figcaption>       Survavival probability vs miles.</figcaption>
            </figure>
          </center>
          </div>
        </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

      <br><br>

      <div class="blog-post">
        <a name="InvOpt"></a>
        <h3 class="blog-post-title">Inventory optimization and material management.</h3>

        <p>
          Inventory optimization is heavily based on understanding material data and patterns in the data.
          Our expertise includes material analysis for complex supply chains,
          demand and lead time analytics, getting insights for wahrehouse and material networks,
          building algorithms to optimize millions of customer materials, developing forecasting 
          and risk management tools, material matching algorithms using NLP and graphs.
        </p>

        <p>
          In particular, we found that advanced techniques in material simulation and optimization
          (see eg. <a href="{{ url_for('dashboards') }}"> our dashboards</a> ), probabilistic modeling are crucial in finding optimal inventory policies.           
        </p>

        <p>
          At the same time, NLP models are very helpful to "describe" materials, and
          graph models (see 'Graphical representation of supply chain' on <a href="{{ url_for('supply_chain') }}"> </a> page) 
          help undestand a place of a given material in a complex supply chain are extremely helpful. 
          The last two tools combined allow us to find
          identical/similar materials and reduce costs related with inventory replanishment.
        </p>

        <p>
          The modern economic integration and increased market uncertainty have brought great challenges to SCM. 
          In this paper, two Deep Reinforcement Learning (DRL) based methods are proposed to solve multi-period 
          capacitated supply chain optimization problem under demand uncertainty.
        </p>

        <!-- https://www.semanticscholar.org/paper/Deep-Reinforcement-Learning-Approach-for-Supply-Peng-Zhang/b41ca398e5ac1dae918b3dfb6ac0efa815a3303f -->

        <br>
        <p>
          <center>
            <img src="../static/Plots/Projects/SC_RL.png"  
            class="center" width="60%" height="60%" >
            <br><br>
            <h6> Inventory optimization using Deep Reinforcement Learning.</h6>
          </center>
        </p>   
        
        <br><br>

        <div class="blog-post">
          <a name="Sat"></a>
          <h3 class="blog-post-title">Optimization of sattelite constellation</h3>
  
          <p>
            Problem: 
            using a satellite constellation, find an optimal control policy 
            (=sattelite trajectory, speed and antenna direction angles) to maximize covered population for an internet service.

            Solution:
            <ul>
              <li>
                All satellites are combined in one reward function with a penalty as “uncovered population”*K-factor.
              </li>
              <li>
                Switched to “ray.rllib.algorithms” and using one external registered environment. It makes quite easy to
                change external algorithms (A3C, Impala, PPO, BC look best) and optimize hypeparameters.          
              </li>
              <li>
                A model gets trained and deployed using Amazon CodeCommit, Lambda, and Sagemaker (RLEstimator).
              </li>
              <li>
                Tested Multi-Agent RL: In this approach, each agent cares about the action of only one entity (sat.) in the network. 
                It is much harder to train and tune as compared to  single-agent RL models, since the success of the entire model depends    
                on the good training and tuning of every agent (shared vs multiple policies).              
              </li>
            </ul>
          </p>
          

          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <figure>
                  <img src="../static/Plots/Projects/Sattelite_1.png" alt="Figure 1" width="100%" height="100%">
                  <figcaption>RL Optimization policies.</figcaption>
                </figure>
              </div>
              <div class="col-md-6">
                <figure>
                  <img src="../static/Plots/Projects/Sattelite_2.png" alt="Figure 2" width="90%" height="90%">
                  <figcaption>Optimization of sattelite constellation.</figcaption>
                </figure>
              </div>
            </div>
          </div>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


        </div>

        <br><br>

        <div class="blog-post">
          <a name="ML_pipe"></a>
          <h3 class="blog-post-title">Building end-to-end ML pipelines for predictive repairs</h3>
  
          <p>
            The predictive maintenance workflow typically includes following main 5 elements.

            <ol type="1">
              <li>
            Access sensor data.
Make sure the data is in the right format. Large data sets may not fit into computer memory, and will require out-of-memory processing techniques or a cluster. 
            </li>

            <li>
              Preprocess data.

              Data in the real world is rarely perfect; it may have obvious outliers and noise that need to be removed to get a realistic picture of normal behavior. If the data has come from different sources, it will also need to be combined. 
            </li>

            <li>
              Extract features.

              Instead of feeding sensor data directly into machine learning models, it is common to extract features 
               from the sensor data. These features capture higher-level information in the sensor data. An iterative 
               approach—in which features are added, new models are trained, and their 
              performance is compared can work well here to determine the effectiveness of different features on the results. 
            </li>

            <li>
              Train the model.

              In this step, we classify data as healthy/faulty, set thresholds for healthy/warning/failure states, 
              and estimate remaining useful life for components. We’ll need to create a comprehensive list of failure 
              scenarios to predict, choose classification methods, and simulate models.
            </li>

            <li>
              Deploy the model.

              Generate code and deploy models as an application integrated with other applications in an IT environment. 
              (Models may be deployed to embedded devices by converting them to a low-level language such as C.)
            </li>
           
          </ol>

          </p>
  
          <center>
          <p>
              <img src="../static/Plots/Projects/ml_pipe2.png"  
              class="center" width="90%" height="90%" >
              <br>
              <h6> Basic workflow for predictive maintenance.</h6>
          </p>                                        
          <br><br>

          <p>
            <img src="../static/Plots/Projects/ml_pipe.png"  
            class="center" width="90%" height="90%" >
            <br>
            <h6> Example of data processing and model building pipeline at Azure.</h6>
        </p>     
        </center>

        </div>

    </div><!-- /.blog-main -->


  </div> <!-- /.row -->

</main><!-- /.container -->

<footer class="blog-footer">
  <!-- <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by 
    <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p> -->
    <a href="#">Back to top</a>
  </p>
</footer>

{% endblock %}
